################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleOrderSystem
/SampleOrdersWebAPI/bin/Debug/netcoreapp3.1
/SampleOrdersWebAPI/obj
/SampleOrdersWebAPI.Tests/bin/Debug/netcoreapp3.1
/SampleOrdersWebAPI.Tests/obj/Debug/netcoreapp3.1
/SampleOrdersWebAPI.Tests/obj
/packages
/SampleOrderWebAPITests/bin/Debug/netcoreapp3.1
/SampleOrderWebAPITests/obj
